.centered-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.password-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.strength-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  
.strength-bar {
    width: 35px; 
    height: 15px;
    margin: 0 5px;
    border-radius: 10px;
}
  
button {
    margin-top: 10px;
    height: 0;
    width: 0;
    padding: 5px 10px;
    cursor: pointer;
}


.password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
}
  
.password-toggle:focus {
    outline: none;
}
  
  