<div class="centered-container">
    <div class="password-container">
      <div>
        <input [type]="showPassword ? 'text' : 'password'" (input)="onPasswordChange($event)" placeholder="Enter password" />
        <button (click)="toggleShowPassword()" class="password-toggle">
          <i [class]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
        </button>
      </div>
      <div class="strength-indicator">
        <div *ngFor="let color of colors" [style.backgroundColor]="color" class="strength-bar"></div>
      </div>
    </div>
  </div>
  